@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Se ha producido un error al procesar su solicitud.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID de Solicitud:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Modo de Desarrollo</h3>
<p>
    Cambiar al entorno de <strong>Desarrollo</strong> muestra información detallada sobre el error ocurrido.
</p>
<p>
    <strong>El entorno de Desarrollo no debe estar habilitado para aplicaciones implementadas.</strong>
    Puede resultar en la visualización de información sensible de excepciones para los usuarios finales.
    Para la depuración local, habilite el entorno de <strong>Desarrollo</strong> estableciendo la variable de entorno <strong>ASPNETCORE_ENVIRONMENT</strong> en <strong>Development</strong>
    y reiniciando la aplicación.
</p>
